/* --------------------------------- PALETA DE CORES-----------------------------------*/
#color-pallet {
    display: inline-block;
    text-align: center;
}

#black {
    background: black;
    width: 90px;
    height: 90px;
    display: inline-block;
    border: solid black 1px;
}
#red {
    background-color: red;
    width: 90px;
    height: 90px;
    display: inline-block;
    border: solid black 1px;
}
#green {
    background-color: green;
    width: 90px;
    height: 90px;
    display: inline-block;
    border: solid black 1px;
}
#blue {
    background-color: blue;
    width: 90px;
    height: 90px;
    display: inline-block;
    border: solid black 1px;
}
/* --------------------------------- PALETA DE CORES-----------------------------------*/

/* --------------------------------- PIXEL BOARD---------------------------------------*/
#pixel-board {
    width: 1000px;
    height: 1000px;
    border: solid black 1px;
    text-align: center;
}

.pixel {
    display: inline-block;
    background-color: white;
    border: solid black 1px;
    width: 40px;
    text-align: center;
    height: 40px;
}